[Desktop Entry]
Type=Application
Name=TightVNC
Exec=mate-terminal --command "vncserver :1"
StartupNotify=false
Categories=Utility;
Icon=preferences-desktop-remote-desktop
