[Unit]
Description=CFS hostname changer

[Service]
Type=oneshot
ExecStart=/etc/init.d/hostname.sh
ExecStart=/etc/init.d/hostname_changed.sh
ExecStartPost=/bin/systemctl disable cfs-hostname
TimeoutSec=0
StandardInput=tty

[Install]
WantedBy=basic.target
